---
import Button from "../../ui/Button.astro"
---

<div
  class="
  hero-buttons
  flex
  flex-col
  sm:flex-row
  items-center
  gap-5
  pt-6
"
>

  <Button href="#contact">
    <span data-i18n="hero.cta.primary"></span>
  </Button>

  <Button variant="ghost" href="#proof">
    <span data-i18n="hero.cta.secondary"></span>
  </Button>

</div>