<h2
  class="
  hero-title
  text-3xl
  md:text-5xl
  lg:text-5xl
  font-semibold
  tracking-tight
  leading-none
  max-w-full
  text-start
"
>
  <span data-i18n="problem.title.main"></span>
  <span
    class="text-white/60"
    data-i18n="problem.title.highlight"
  ></span>
</h2>