<h2
  class="
  hero-title
  text-3xl
  md:text-5xl
  lg:text-5xl
  font-semibold
  tracking-tight
  leading-[1.05]
  max-w-4xl
  text-center
"
>
    <span data-i18n="method.title.main"></span>
    <span class="block text-white/60 mt-4" data-i18n="method.title.highlight"></span>
</h2>