---
import Section from "../../ui/Section.astro"

import MethodHeadline from "./MethodHeadline.astro"
import MethodDescription from "./MethodDescription.astro"
import MethodSteps from "./MethodSteps.astro"
import MethodFooter from "./MethodFooter.astro"
---

<Section id="method" class="text-white max-w-full bg-zinc-950/80 relative overflow-hidden">

  <div class="flex flex-col items-center max-w-7xl w-full gap-14 md:gap-16">

    <MethodHeadline />

    <MethodDescription />

    <MethodSteps />

    <MethodFooter />

  </div>

</Section>