---
import Section from "../../ui/Section.astro"

import ProofHeadline from "./ProofHeadline.astro"
import ProofDescription from "./ProofDescription.astro"
import ProofGrid from "./ProofGrid.astro"
import ProofFooter from "./ProofFooter.astro"
---

<Section
  id="proof"
  class="text-white max-w-full bg-zinc-950/80 relative overflow-hidden"
>

  <div class="flex flex-col items-center max-w-7xl w-full gap-14 md:gap-16">

    <ProofHeadline />
    <ProofDescription />
    <ProofGrid />
    <ProofFooter />

  </div>

</Section>