<h2
  class="
  hero-title
   text-3xl
  md:text-5xl
  lg:text-5xl
  font-semibold
  tracking-tight
  leading-[1.05]
  max-w-6xl
  text-center
"
>
  <span data-i18n="solution.title.main"></span>
  <span
    class="text-white/60 mt-3"
    data-i18n="solution.title.highlight"
  ></span>
</h2>