<h2
  class="
  hero-title
  text-3xl
  md:text-4xl
  lg:text-5xl
  font-semibold
  tracking-tight
  leading-[1.05]
  max-w-4xl
  text-center
"
>
  <span data-i18n="contact.title.main"></span>
  <span class="text-white/60 mt-3" data-i18n="contact.title.highlight"></span>
</h2>