---
import Section from "../../ui/Section.astro"

import PrinciplesHeadline from "./PrinciplesHeadline.astro"
import PrinciplesDescription from "./PrinciplesDescription.astro"
import PrinciplesPhoto from "./PrinciplesPhoto.astro"
import PrinciplesGrid from "./PrinciplesGrid.astro"
---

<Section id="principles" class="text-white relative overflow-hidden">

  <div class="flex flex-col items-center max-w-7xl w-full gap-14 md:gap-10">

    <PrinciplesHeadline />

    <PrinciplesDescription />

    <PrinciplesGrid />

    <PrinciplesPhoto />

  </div>

</Section>