<div
  class="
  w-full
  max-w-7xl
  h-40
  md:h-70
  rounded-2xl
  flex
  items-center
  justify-center
  text-white/30
  text-sm
"
>
  <img 
      src="/images/principes.png" 
      alt="principles-image" 
      loading="lazy" 
      class="w-full h-full object-cover object-center rounded-2xl"
    />
</div>