.form_container {
    position: relative; 
    top: 45%; 
    left: 65%; 
    transform: translate(-50%, -50%); 
    text-align: left; 
}

.form_h2 {
    font-size: 2vw;
}

.form_title {
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
}

.form_text {
    font-size: 1vw; 
    line-height: 1.6;
    width: 70vw;
}
 
.btn_form {
    font-size: 1vw;
}