---
import CapabilityCard from "./CapabilityCard.astro"
---

<div class="grid md:grid-cols-3 text-start gap-6 cursor-pointer">

  <CapabilityCard
    icon="heroicons-outline:trending-up"
    color="blue"
    title="capabilities.cards.0.title"
    description="capabilities.cards.0.description"
  />

  <CapabilityCard
    icon="heroicons-outline:cog-6-tooth"
    color="emerald"
    title="capabilities.cards.1.title"
    description="capabilities.cards.1.description"
  />

  <CapabilityCard
    icon="heroicons-outline:truck"
    color="amber"
    title="capabilities.cards.2.title"
    description="capabilities.cards.2.description"
  />

  <CapabilityCard
    icon="heroicons-outline:device-phone-mobile"
    color="purple"
    title="capabilities.cards.3.title"
    description="capabilities.cards.3.description"
  />

  <CapabilityCard
    icon="heroicons-outline:circle-stack"
    color="cyan"
    title="capabilities.cards.4.title"
    description="capabilities.cards.4.description"
  />

  <CapabilityCard
    icon="heroicons-outline:server"
    color="rose"
    title="capabilities.cards.5.title"
    description="capabilities.cards.5.description"
  />

</div>