---
import BaseLayout from "./BaseLayout.astro";

const {
  title,
  description,
  image,
  noindex = false
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  noindex={noindex}
>
  <main>
    <article>
      <slot />
    </article>
  </main>
</BaseLayout>